//base
@import 'base/mixins';
@import 'base/animation';
@import 'base/variables';

//layout
@import 'layout/promo';
@import 'layout/advantages';
@import 'layout/consultation';
@import 'layout/carousel';
@import 'layout/catalog';
@import 'layout/reviews';
@import 'layout/footer';
@import 'layout/modal';


//blocks
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/forms';

* {
    font-family: 'Museo Sans Cyrl';
}

.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 15px;
}

.pr {
    padding-right: 17.5px;
    @media (max-width:980px) {
        padding-right: 0;
    }
}

html {
    scroll-behavior: smooth;
}

.img-up {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    cursor: pointer;
    &_active {
        top: 90vh;
        visibility: visible;
        opacity: 1;
    }
}

