.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:500px) {
        justify-content: center;
    }
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        color: $second-color;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        @media(max-width:980px) {
            display: none;
        }
        &_descr {
            font-size: 18px;
            line-height: 29px;
        }
    }
    &__phone {
        display: block;
        font-weight: 700;
        font-size: 18px;
        color: $second-color;
        transition: all 0.5s;
        &:hover {
            color: $main-color;
            text-decoration: none;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media (max-width:500px) {
            display: none;
        }
    }
}